extends layout

block content
    h1="Login"
    h2=message
    h2=error
    form(name="name", method="post", action='/login')
        div.input
            span.label Username:
            input(type="text", name="username") 
            br
            span.label Password:
            input(type="text", name="password")
            input(type="submit", value="Enter")
            br
    div.buttons
        a(href="register")
            button(type="register") register
        a(href="verify")
            button(type="verify") verify
