extends layout

block content
    h1='Register'
    h2=error
    form(name="name", method="post", action='/adduser')
        div.input
            span.label Username:
            input(type="text", name="username") 
            br
            span.label Password:
            input(type="text", name="password")
            br
            span.label E-mail:
            input(type="text", name="email")
            input(type="submit", value="Enter")
